<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Battle</title>
    </head>
    <body>
        {% if not room.player2 %}
            <h1>Now waiting...</h1>
            <p>{{ room.player1 }} vs.</p>
            <p><a href="{% url 'rooms:cancel' %}">Cancel</a></p>
        {% else %}
            <h1>Let's battle!</h1>
            <p>{{ room.player1 }} vs. {{ room.player2 }}</p>
            <p>Who wins?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="player1">{{ room.player1 }}</button>
                <button type="submit" name="player2">{{ room.player2 }}</button>
            </form>
        {% endif %}
    </body>
</html>